ShockMain = #9c2f33
Highlight = #3AA9E8
HighlightThin = #154A69
ErrorColor = #e74c3c
LightBackgroundHoverColor = #FAFAFA
#page-header
  background-color ShockMain
  color #FFF
  .brand
    display inline-block
    margin 0 0 0 16px
  nav
    display inline-block
    margin-left 6em
  ul
    display inline-block
    padding 0
    margin 0
  li
    display inline-block
    list-style none
    margin 0
    padding 4px 6pt
    cursor pointer
    a
      color #FFF
      text-decoration none
    &:hover
      background-color lighten(ShockMain, 15%)
    &.active
      background-color Highlight
      a
        color HighlightThin
  .right-field
    position absolute
    right 2px
    top 3px
    margin 0
    button
      background-color transparent
      border 0
      outline none
      color #FAFAFA
    .menu
      display none
      position relative
/* 新聞 - 搜尋區塊 */
#news-search-field
  margin 36px 0 18px 0
#search-news-container
  float right
  .search-input-wrapper
    position relative
    &:before
      content '\e003'
      -webkit-font-smoothing antialiased
      font-family 'Glyphicons Halflings'
      font-style normal
      font-weight normal
      text-decoration inherit
      color #555
      font-size 11pt
      padding-right .5em
      position absolute
      top 7px
      left 10px
      text-shadow 1px 1px 0 #F7F7F7
    input
      outline none
      height 24pt
      line-height 12pt
      font-size 12pt
      padding 0 0 0 32px
      border-radius 12pt
      border 1px solid #DDD
      color #444
      text-shadow 1px 1px 2px #EAEAEA
      width 200px
      background-color #FAFAFA
      padding-top 2px
/* 出版系統 - 登入*/
#loginPublish
  padding 0
  border 1px solid #DDD
  margin-top 48px
  border-radius 8px
  box-shadow 0 0 2px #ccc
  form
    padding 30px 24px 4px 24px
    button
      outline none
    .helper
      color ErrorColor
      margin 2px 0
  header
    border-bottom 1px solid #AAA
    border-radius 8px 8px 0 0
    padding 16px 14px 8px 14px
    background-color rgba(#34495e, 0.74)
    color #FCFCFC
    .helper
      margin 0
      color #EAEAEA
      font-family serif
      font-size 10pt
    h1
      margin 0
      padding 4px 0
      font-size 24pt
      font-weight normal
/* 新聞 - 重點新聞 */
#news-features
  margin 28px 0
  border 1px solid #DFDFDF
  padding 16px 0
  .brand
    overflow hidden
  .features
    .news-section
      cursor pointer
      margin-bottom 8px
      h1
        font-size 14pt
        line-height 16.5pt
      p
        font-size 9pt
        color #7F7F7F
        margin 0
      &:after
        content ''
        display block
        position absolute
        width 0
        height 2px
        background -moz-linear-gradient(left, rgba(156,47,51,1) 0%, rgba(190,58,63,0.8) 82%, rgba(198,61,66,0) 100%)
        background -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(156,47,51,1)), color-stop(82%,rgba(190,58,63,0.8)), color-stop(100%,rgba(198,61,66,0)))
        background -webkit-linear-gradient(left, rgba(156,47,51,1) 0%,rgba(190,58,63,0.8) 82%,rgba(198,61,66,0) 100%)
        background -o-linear-gradient(left, rgba(156,47,51,1) 0%,rgba(190,58,63,0.8) 82%,rgba(198,61,66,0) 100%)
        background -ms-linear-gradient(left, rgba(156,47,51,1) 0%,rgba(190,58,63,0.8) 82%,rgba(198,61,66,0) 100%)
        background linear-gradient(to right, rgba(156,47,51,1) 0%,rgba(190,58,63,0.8) 82%,rgba(198,61,66,0) 100%)
        transition width 0.42s ease-out
      &:hover
        background-color LightBackgroundHoverColor
        &:after
          width 255px
      &:active
        -o-transform scale(0.97)
        -moz-transform scale(0.97)
        -webkit-transform scale(0.97)
        transform scale(0.97)
