node_modules
public
.tmp
.sass-cache
app/bower_components
heroku
./views
partials/*.html
lib/controllers/*.js
lib/controllers/*/*.js
lib/models/*.js
app/scripts/*.js
app/styles/*.css
app/scripts/*/*.js
app/scripts/*/*/*.js
*.map
