node_modules
public
.tmp
.sass-cache
app/bower_components
heroku
./views
partials/*.html
lib/controllers/*.js
lib/controllers/*/*.js
lib/models/*.js
lib/config/*.js
!lib/config/express.js
app/scripts/*.js
app/styles/*.css
app/styles/*/*.css
app/scripts/*/*.js
app/scripts/*/*/*.js
*.map
config.json
.DS_Store