div.contriner
  div.row#news-search-field
    div.col-lg-12
      div#search-news-container
        div.search-input-wrapper
          input.search-input(type='text', placeholder='搜尋')
  div.row#news-features
    div.col-lg-3
      header.brand
        img(src='/images/Region_Sanxia.jpg')
      div.features
        news-section-md(articles='articles.sanxia')
    div.col-lg-3
      header.brand
        img(src='/images/Region_Yingge.jpg')
      div.features
        news-section-md(articles='articles.yingge')
    div.col-lg-3
      header.brand
        img(src='//placehold.it/265x471')
      div.features
        news-section-md(articles='articles.shulin')
    div.col-lg-3
      header.brand
        img(src='/images/Region_Tucheng.jpg')
      div.features
        news-section-md(articles='articles.tucheng')