ul.photo-selector(ng-show='showSelector')
  li(ng-repeat='photo in photos', ng-class='(photo.selected ? " selected " : " ") + photo.status', ng-click='selectThis(photo)')
    img(ng-src='{{photo.source}}')
    p(ng-bind='photo.description')
    i.status.fa
  li.placeholder(ng-show='!photos.length')
    i.fa.fa-arrow-left
    span  文章照片上傳
  button.btn.btn-sm.add(type='button', ng-click='showModal()')
    span.fa.fa-plus
    span  上傳圖片
  button.btn.btn-sm.btn-primary.join(type='button', ng-click="injectPhotos()", ng-show="(photos | filter: {selected: true}).length")
    span.fa.fa-arrow-circle-down
    span  加入
div.modal.fade
  div.modal-dialog
    div.modal-content
      div.modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h4.modal-title 上傳圖片
      div.modal-body
        div.file-selector-cover.btn.btn-large.btn-block(role='button') 選擇檔案
        input.file-selector(type='file', multiple, accept='image/*')
      div.modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') 關閉