gallery-mode-selector.mode.selector
  button(type='button', mode='block', ng-class='gallerymode === "block" ? "active" : ""')
    checker.fa.fa-th-large
  button(type='button', mode='slide', ng-class='gallerymode === "slide" ? "active" : ""')
    checker.fa.fa-exchange
ul.list.photo-gallery(ng-class='gallerymode')
  li(ng-repeat='photo in photos')
    img(ng-src='{{photo.thumb200}}')
    p.description(ng-bind='photo.description')