AUTHENTICATE_COLOR_HOVER = lighten(#000, 35%)
AUTHENTICATE_COLOR = #000
AUTHENTICATE_BG = rgba(#1abc9c, 0.6)
AUTHENTICATE_BORDER_COLOR = darken(#1abc9c, 12%)
UNKNOWN_COLOR_HOVER = lighten(#222, 35%)
UNKNOWN_COLOR = #222
UNKNOWN_BG = #EFEFEF
UNKNOWN_BORDER_COLOR = #CCC
GUEST_COLOR = #000
GUEST_COLOR_HOVER = lighten(#000, 35%)
GUEST_BG = rgba(#e67e22, 0.46)
GUEST_BORDER_COLOR = darken(#e67e22, 8%)
#add-article
  .checkbox-container
    padding 4px
    text-align right
  .checker
    opacity 0
  .checkbox
    cursor pointer
    display block
    width 26px
    height 24px
    border 2px solid #333
    padding 2px 4px
    &:hover, &.active
      .checker
        opacity 1
    &.active
      .checker
        opacity 0.7
#new-article-author-selector
  .remove-btn
    font-size 10pt
    margin-left 6px
    color UNKNOWN_COLOR
    cursor pointer
    &:hover
      color UNKNOWN_COLOR_HOVER
  .author
    display inline-block
    border 1px solid UNKNOWN_BORDER_COLOR
    border-radius 2px
    background-color UNKNOWN_BG
    color UNKNOWN_COLOR
    padding 2px 6px 2px 8px
    margin 0 4px 3px 0
    &.authenticated
      border-colot AUTHENTICATE_BORDER_COLOR
      background-color AUTHENTICATE_BG
      color AUTHENTICATE_COLOR
      .remove-btn
        color AUTHENTICATE_COLOR
        &:hover
          color AUTHENTICATE_COLOR_HOVER
    &.guest
      border-colot GUEST_BORDER_COLOR
      background-color GUEST_BG
      color GUEST_COLOR
      .remove-btn
        color GUEST_COLOR
        &:hover
          color GUEST_COLOR_HOVER

.author-container
  margin-top 6px
  input
    width 98%
    padding 0 1%
    padding-top 3px
    letter-spacing 0.17em