AUTHENTICATE_COLOR_HOVER = lighten(#000, 35%)
AUTHENTICATE_COLOR = #000
AUTHENTICATE_BG = rgba(#1abc9c, 0.6)
AUTHENTICATE_BORDER_COLOR = darken(#1abc9c, 12%)
FETCHING_COLOR_HOVER = lighten(#222, 35%)
FETCHING_COLOR = #222
FETCHING_BG = #EFEFEF
FETCHING_BORDER_COLOR = #CCC
GUEST_COLOR = #000
GUEST_COLOR_HOVER = lighten(#000, 35%)
GUEST_BG = rgba(#e67e22, 0.46)
GUEST_BORDER_COLOR = darken(#e67e22, 8%)
UNKNOWN_COLOR = #000
UNKNOWN_COLOR_HOVER = lighten(#000, 35%)
UNKNOWN_BG = rgba(#e67e22, 0.46)
UNKNOWN_BORDER_COLOR = darken(#e67e22, 8%)
PARAGRAPH_BG = rgba(#9b59b6, 12%)
PARAGRAPH_BORDER = rgba(#9b59b6, 60%)
PARAGRAPH_HELPER = #8e44ad
SUBTITLE_BG = rgba(#f1c40f, 12%)
SUBTITLE_BORDER = rgba(#f1c40f, 60%)
SUBTITLE_HELPER = #f39c12
FIGURE_BG = rgba(#2ecc71, 12%)
FIGURE_BORDER = rgba(#2ecc71, 60%)
FIGURE_HELPER = #27ae60
#add-article
  .checkbox-container
    padding 4px
    text-align right
  .checker
    opacity 0
  .checkbox
    cursor pointer
    display block
    width 26px
    height 24px
    border 2px solid #333
    padding 2px 4px
    &:hover, &.active
      .checker
        opacity 1
    &.active
      .checker
        opacity 0.7
  .main-content
    .ta-toolbar
      margin-bottom 18px
    .editor-content
      height 400px
      border 1px solid #CCC
      background-color #FCFCF5
      outline none
      padding 10px 12px
      p, h2, figure
        border 1px solid transparent
        padding 5px 8px !important
        margin 34px 0 6px 0 !important
        border-radius 3px !important
        position relative !important
        &:before
          position absolute
          top -30px
          left 0
          padding 1px 6px
          text-indent 0
          display block
      p
        text-indent 2em !important
        border-color PARAGRAPH_BORDER !important
        background-color PARAGRAPH_BG !important
        &:before
          content '段落'
          background-color PARAGRAPH_BG
          color PARAGRAPH_HELPER
      h2
        border-color SUBTITLE_BORDER !important
        background-color SUBTITLE_BG !important
        text-indent 0 !important
        font-size 14pt !important
        &:before
          content '小標'
          font-size 11pt
          background-color SUBTITLE_BG
          color SUBTITLE_HELPER
      figure
        border-color FIGURE_BORDER !important
        background-color FIGURE_BG !important
        text-indent 0 !important
        font-size 14pt !important
        &:before
          content '小標'
          font-size 11pt
          background-color FIGURE_BG
          color FIGURE_HELPER
#new-article-author-selector
  .remove-btn
    font-size 10pt
    margin-left 6px
    color FETCHING_COLOR
    cursor pointer
    &:hover
      color FETCHING_COLOR_HOVER
  .author
    display inline-block
    border 1px solid FETCHING_BORDER_COLOR
    border-radius 2px
    background-color FETCHING_BG
    color FETCHING_COLOR
    padding 2px 6px 2px 8px
    margin 0 4px 3px 0
    &.authenticated
      border-color AUTHENTICATE_BORDER_COLOR
      background-color AUTHENTICATE_BG
      color AUTHENTICATE_COLOR
      .remove-btn
        color AUTHENTICATE_COLOR
        &:hover
          color AUTHENTICATE_COLOR_HOVER
    &.guest
      border-color GUEST_BORDER_COLOR
      background-color GUEST_BG
      color GUEST_COLOR
      .remove-btn
        color GUEST_COLOR
        &:hover
          color GUEST_COLOR_HOVER
    &.unknown
      border-color UNKNOWN_BORDER_COLOR
      background-color UNKNOWN_BG
      color UNKNOWN_COLOR
      .remove-btn
        color UNKNOWN_COLOR
        &:hover
          color UNKNOWN_COLOR_HOVER

.author-container
  margin-top 6px
  input
    width 98%
    padding 0 1%
    padding-top 3px
    letter-spacing 0.17em