photo-gallery
  .mode.selector
    button:not(.remove)
      background-color rgba(#F7F7F7, 0.82)
      border 1px solid #DDD
      border-radius 1px
      outline none
      display inline-block
      margin 0 3px 0 0
      width 24px
      height 24px
      padding 0
      text-align center
      line-height 9pt
      color #222
      cursor pointer
      &.active
        background-color rgba(#555, 0.82)
        color #FFF
        cursor default
      &:hover
        background-color rgba(#BBB, 0.82)
        color #000
    .fa
      font-size 9pt
    .remove
      float right
      background-color transparent
      border 0
      margin -6px -3px 0 0
      outline none
      color #777
      &:hover
        color #222
  .list
    margin 6px 0 0 0
    padding 10px 2px
    li
      list-style none
      display inline-block
      margin 6px 8px
      border 1px solid #DFDFDF
      background-color rgba(#FFF, 0.82)
      padding 6px
      box-shadow 1px 1px 2px #777
      .description
        width 194px
        overflow hidden
        padding 0 2px 0 0
        font-size 10.5pt
        height 13.5pt
        margin 5px 0 0 0
        color #555